@charset "utf-8";
.header {
  position: relative;
  width: 100%;
  /* margin-top: var(--spacing-M); */
  /* margin: var(--spacing-M) var(--spacing-XL); */
  padding-top: var(--spacing-M);
  padding-left: var(--spacing-M);
  padding-right: var(--spacing-M);
}
/* 상단 위쪽 */
.header-top {
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--spacing-XL);
  margin-bottom: var(--spacing-XXL);
}
/* 로고 */
.logo {
  width: 10%;
  min-width: 130px;
  padding: var(--spacing-M);
  margin-left: var(--spacing-XL);
}
.logo a{
  width: 100%;
  display: block;
}
.logo a img {
  width: 100%;
}
/* 상단 위 - 오른쪽 */
.header-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-XL);
  margin-right: var(--spacing-XXL);
}
.h-r-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  /* right: 0; */
  /* flex-direction: row-reverse; */
}
/* 검색기능 */
.h-r-top .search-bar {
  width: 30%;
  min-width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 60%; */
  padding: 7px;
  background-color: #fff;
  border: 1px solid rgba(38, 38, 39, .2);
  border-radius: 50px;
}
.search-bar input {
  width: 80%;
  outline: none;
  border: 0;
}
.search-bar .search-icon a {
  display: block;
  width: 100%;
}
.search-bar .search-icon a img {
  width: 100%;
}
.h-r-top .header-icon {
  /* width: 100%; */
  width: 15%;
  min-width: 160px;
  text-align: right;
}
/* 아이콘 설정 */
.h-r-top .header-icon-list {
  width: 100%;
  display: flex;
  justify-content: space-around;

  /* flex-direction: row-reverse; */
  /* line-height: px; */
}
.h-r-top .header-icon-list li {
  width: calc((100% - 8px) / 4);
  padding: var(--spacing-M);
}
.h-r-top .header-icon-list li:first-child,
.h-r-top .header-icon-list li:nth-child(6),
.h-r-top .header-icon-list li:last-child{
  display: none;
}
/* 유틸리티 설정 */
.h-r-bottom {
  width: 100%;
}
.util {
  width: 100%;
  /* margin-right: 50px; */
}
.h-r-bottom .util #util-list {
  width: 100%;
  margin-top: var(--spacing-S);
  display: flex;
  justify-content: flex-end;
  /* margin-right: var(--spacing-L); */
}
#util-list li {
  margin-top: var(--spacing-L);
  margin-bottom: var(--spacing-M);
  padding: 0 var(--spacing-M);
  border-right: 2px solid rgba(38, 38, 39, .2);
}
#util-list li:last-child {
  padding-right: 0;
  border: none;
}
#util-list li a {
  color: #757575;
  opacity: 80%;
  font-size: var(--font-size-S);
}
/* 상단 아래쪽 */
.header-bottom {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: var(--spacing-XXXL);
  gap: 40px;
  /* background-color: antiquewhite; */
}
.h_categoty {
  width: 25%;
  height: 56px;
}
.h-c-text {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--spacing-S);
  
}
.h-c-text > a{
  color: var(--font-color-gray);
  font-weight: bold;
}
.menu-snb{
    width: 98%;
    max-width: 1700px;
    display: block;
    position: absolute;
    top: 46px;
    left: -25px;
    z-index: 99;
    
}

.snb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 20px 0;
}
.snb > li {
  width: 100%;
  height: 100%;
  display: flex;
  
  /* background-color: aqua; */
}

.snb > li > a {
  width: 150px;
  display: block;
  padding: var(--spacing-M);
  /* text-align: center; */
  /* background-color: var(--sub2-color); */
  color: var(--main-color);
  font-weight: bold;
  border-right: 1px solid rgba(38, 38, 39, .2);
}

.snb > li:hover > a{
    text-decoration: underline;
    color: #262627;
}
.depth {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-left: var(--spacing-XXL);
}
.depth > li {
  width: calc(100% / 10);
}
.depth > li:last-child{
  /* display: none; */
}
.depth > li > a{
  display: block;
  padding: 15px 0;
  color: var( --font-color-gray);
  font-size: var(--font-size-S);
  
    
}
.depth > li:hover > a{
    text-decoration: underline;
    color: var(--main-color);
    font-weight: bold;
}
/* gnb 설정 */
.menu {
  width: 70%;

  /* margin-top: var(--spacing-XL); */
  /* padding-top: var(--spacing-XL);
    padding-bottom: var(--spacing-XL); */
  /* background-color: aquamarine; */
}
.gnb {
  width: 100%;
  display: flex;
  /* padding: 0 var(--spacing-XXL); */
  margin-left: var(--spacing-XXXL);

  /* width: 80%; */
}
.gnb li {
  width: calc((100%) / 6);
}
.gnb li a {
  width: 100%;
  text-align: center;
  display: block;
  padding: var(--spacing-XL);
  font-size: var(--font-size-base);
  font-weight: 900;
}
.gnb li:last-child a{
  color: var(--main-color);
}
.gnb li:nth-child(5) a{
  color: var(--sub1-color);
}
.header-bottom .search-bar {
  display: none;
  /* width: 100%; */
  min-width: 350px;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  /* width: 60%; */
  padding: 0px;
  background-color: #fff;
  border: 1px solid rgba(38, 38, 39, .2);
  border-radius: 50px;
}
.mb-menu-snb{
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  /* background-color: #262627; */
  z-index: 99;
}
.mb-menu-snb .snb > li:last-child > a{
  color: var(--main-color);
}
.mb-menu-snb .snb > li:last-child:hover > a{
  text-decoration: underline;
    color: var(--main-color);
}
#my-info li a{
  color: var(--main-color);
  font-size: var(--font-size-S);
  font-weight: bold;
}
#my-info li:hover a{
  color: var(--main-color);
  text-decoration: underline;
}
.mb-menu-snb .snb > li:last-child{
  
}