@charset "utf-8";
.category{
    width: 100%;
    /* height: 200px; */
}
.category_inner{
    width: 100%;
}
.icon-box{
    width: 65%;
    margin: var(--spacing-4XL) auto;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center; 
}
.icons li{
    width: calc(100% / 10);
}
.icons li a{
    display: block;
    width: 100%;
}
.icons li a .c-icon-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.c-icon{
    width: 100%;
    margin-bottom: var(--spacing-M);
}
.icons li a .c-icon-wrap span{
    width: 100%;
    display: block;
    color: var(--font-color-black);
    font-weight: bold;
    font-size: var(--font-size-S);
}

