@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* informaition1 : 홍보1 영역 */
.information1 {
  width: 100%;
  height: 680px;
  position: relative;
}
/* 인포 백 그라운드 */
.information1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/info_bg.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

/* 인포 안 이너 컨테이너 */
.info1_inner {
  height: 100%;
  position: relative;
}
/* 인포1 이너 안 큰 박스 */
.info1-top {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
/* 인포1 왼족 텍스트 박스 */
.left-text_box {
  position: relative;
  width: 30%;
  flex: 1;
}
/* 인포1 왼쪽 텍스트 박스 안 텍스트 한줄 표현 */
.left-text-box-top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XL);
  position: relative;
}
.info1-text {
  font-size: var(--font-size-Max);
  color: var(--font-color-white);
  font-weight: bold;
}
/* 1번째 문장 */
.info1-text {
  display: inline-block;
}
/* 한글자씩 애니메이션 텍스트 박스 */
.left-text-box-bt {
  display: inline-block;
  margin-top: var(--spacing-XL);
  width: 100%;
  font-size: var(--font-size-Max);
  font-weight: 200;
  color: var(--font-color-white);
}
/* 한글자씩 애니메이션 표현 */
/* 인포1 오른쪽 텍스트 박스 */
.right-detail-box {
  flex: 2;
  width: 70%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  perspective: 1000px;
}
/* 인포1 오른족 박스 안 아이콘 박스 */
[class^="detail"] {
  width: calc(100% / 4 - 15px);
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* 디테일 안 모든 요소들 텍스트 스타일 */
  color: var(--font-color-white);
  font-size: 16px;
  border-radius: 12px;

  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
/* 인포 오른쪽 개별  */
[class^="detail"]:hover {
  cursor: pointer;
  border-radius: 12px;
  transform: translateZ(100px);
  transform-origin: center;
  font-weight: bold;
}

/* 호버 시 배경색들 */
.detail-1:hover {
  background-color: #ff5a7a;
}
.detail-2:hover {
  background-color: #1a75ba;
}
.detail-3:hover {
  background-color: #8e72d2;
}
.detail-4:hover {
  background-color: #2fc784;
}

/* 아이콘 박스 옆 보더 선 */
[class^="detail"]::after {
  content: "";
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 300px;
  position: absolute;
  top: 0;
  left: 193px;
}
.detail-4::after {
  display: none;
}
/* 오른쪽 개별 박스 */
[class^="detail"] * {
  /* display: block;
  padding: 5px; */
}
[class^="detail"] figure {
  width: 60%;
  /* margin: auto; */
}
[class^="detail"] figure img {
  width: 100%;
}
.detail-1 > span,
.detail-2 > span,
.detail-3 > span,
.detail-4 > span {
  line-height: 20px !important;
}
/* 수치 크키 변화 */
#UpText-1 , #UpText-2 , #UpText-3 , #UpText-4{
  text-align: center;
  font-size: 28px;
}