@charset "utf-8";
.prd1_inner{
    /* background-color: aqua; */
    width: 100%;
    height: 680px;
    position: relative;
}
/* pro2 상단 텍스트 영역 */
.prd1-text-list{
    padding: var(--spacing-XXXL);
    cursor: pointer;
}
.prd1-text-list h1{
    font-size: var(--font-size-Max);
    color: var(--font-color-black);
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: var(--spacing-L)
}
.prd1-text-list p{
    font-size: var(--font-size-L);
    color: var(--font-color-gray);
    font-weight: bold;
}
/* 이미지 영역 */
.pro1-image-box{
    width: 100%;
}
.itemSwiper1{
    width: 100%;
}
.swiper-slide img{
    width: 100%;
}

