@charset "utf-8";
.footer{
    width: 100%;
    background-color: #D9D9D9;
    padding-top: var(--spacing-XXXL);
    padding-bottom: var(--spacing-XXXL);
}
.footer_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-left: var(--spacing-XL);
    padding: var(--spacing-M);

}
/* footer 로고 영역 */
.footer-logo{
    width: 10%;
  min-width: 130px;
}
.footer-logo img{
    width: 100%;
}
/* footer 메뉴 영역 */
.footer-menu{
    width: 100%;
}
.footer-menu ul{
    display: flex;
    width: 100%;
    gap: 30px;
}
.footer-menu ul li{
    text-align: center;
    border-right: 1px solid rgba(38, 38, 39, .2);

}

.footer-menu ul li a{
    display: block;
    width: 100%;
   padding-right: var(--spacing-XL);
    text-align: center;
    font-size: var(--font-size-Min);
    font-weight: bold;
    color: #757575;
}
.footer-menu ul li:last-child{
    border: none;
}
/* footer-info 영역 */
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-info p{
    color: #757575;
    font-size: var(--font-size-Min);
}
/* footer-copyright 영역 */
.copyright{
    color: #757575;
    font-size: var(--font-size-Min);
}