@charset "utf-8";
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #D9D9D9;
    padding-top: var(--spacing-XXXL);
    padding-bottom: var(--spacing-XXXL);
}
/* 하단 왼쪽 영역 */
.footer-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-left: var(--spacing-XXL);
    padding: var(--spacing-M);

}
/* footer 로고 영역 */
.footer-logo{
    width: 10%;
  min-width: 130px;
}
.footer-logo a{
    width: 100%;
    display: block;
}
.footer-logo a img{
    width: 100%;
}
/* footer 메뉴 영역 */
.footer-menu{
    width: 100%;
}
.footer-menu ul{
    display: flex;
    width: 100%;
    gap: 30px;
}
.footer-menu ul li{
    text-align: center;
    border-right: 1px solid rgba(38, 38, 39, .2);

}

.footer-menu ul li a{
    display: block;
    width: 100%;
   padding-right: var(--spacing-XL);
    text-align: center;
    font-size: var(--font-size-Min);
    font-weight: bold;
    color: #757575;
}
.footer-menu ul li:last-child{
    border: none;
}
/* footer-info 영역 */
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-info p{
    color: #757575;
    font-size: var(--font-size-Min);
}
/* footer-copyright 영역 */
.copyright{
    color: #757575;
    font-size: var(--font-size-Min);
}
/* 하단 오른쪽 영역 */
/* 하단 오른쪽 영역 */
/* 하단 오른쪽 영역 */
/* 하단 오른쪽 영역 왼쪽부분 */
.f-r-wrap{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 40px;
    padding-top: 230px;
    /* bottom: 0; */
}
.f-r-left{
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.f-r-left .charanQ{
    font-weight: bold;
    font-size: var(--font-size-M);
    padding-bottom: var(--spacing-M);
    color: #757575;
}
.f-r-left .cs-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: #757575;
    font-weight: bold;
    
}
.f-r-left .cs-data span:last-child{
    font-size: var(--font-size-S);
}
/* 하단 오른쪽 영역의 오른쪽 부분 */
.f-r-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-XXL);
}
/* 하단 아이콘들 */
.f-icons{
    display: flex;
    gap: 20px;
}
/* 블로그 아이콘 */
.f-icons .blog{
    width: 43px;
}
.f-icons > .blog > a{
    display: block;
    width: 100%;
}
.f-icons > .blog a img{
    width: 100%;
}
/* 인스타 아이콘 */
.f-icons .insta{
    width: 36px;
}
.f-icons > .insta > a{
    display: block;
    width: 100%;
}
.f-icons > .insta a img{
    width: 100%;
}
/* 유튜브 아이콘 */
.f-icons .youtube{
    width: 51px;
}
.f-icons > .youtube > a{
    display: block;
    width: 100%;
}
.f-icons > .youtube a img{
    width: 100%;
}
/* 카카오 이미지 */
.kakao{
    width: 230px;
}
.kakao a{
    width: 100%;
    display: block;
}
.kakao a img{
    width: 100%;
}
