/* font 연결 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 공통 css 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color-black);
}
body {
  font-family: "S-CoreDream-3Light";
  margin: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* 로그인 전체 레이아웃 */
.login-wrap {
  position: relative;
  width: 100%;
  margin: auto;
}
.login-bar {
  width: 100%;
  /* background-color: aqua; */
  height: 140px;
}
/* 로그인바 안 로그인 title */
.login-bar h1 {
  text-align: center;
  line-height: 140px;
  font-size: var(--font-size-Max);
  color: var(--font-color-black);
  font-weight: bold;
}
/* 로그인 레이아웃 이너 */
.login-ineer {
  width: 100%;
  position: relative;
}
/* 로그인메인 */
/* 로그인 상단 하단 바텀 레이아웃 공통 */
.login-section {
  position: relative;
  width: 100%;
}
/* 로그인 상단 레이아웃 */
.login-input-section {
  width: 100%;
  position: relative;
}
/* 로그인 상단 - 왼쪽 레이아웃 */
.login-top-left {
  position: relative;
  margin-top: 80px;
  /* background-color: aqua; */
}

/* 왼쪽 레이아웃 인풋 폼박스 */
/* 공통 퐁 적용 css */
.insert-form {
  width: 100%;
  position: relative;
  padding: var(--spacing-L);
  display: flex;
  gap: 5%;
}
/* 로그인 박스 ul */
.login-input-box-left {
  flex: 1;
  position: relative;
  display: flex;
  gap: var(--spacing-XXL);
  flex-direction: column;
}
/* 버튼 들어가있는 ul */
.login-input-box-right {
  flex: 1;
  position: relative;
  display: flex;
  transform: translateX(28%);
}

.insert-form label {
  font-weight: 100;
  cursor: pointer;
}
.insert-form input {
  min-width: 230px;
  width: 65%;
  height: 40px;
  background-color: var(--bg-color-gray);
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  cursor: pointer;
}
/* 인풋 안 플레이스롤더 스타일 */
iput:placeholder {
  color: var(--font-color-black);
  font-family: "S-CoreDream-3Light";
  font-size: var(--font-size-base);
}
#pw-insert {
  margin-left: 54px;
}
/* 아이디 저장하기 */
.info-store-box {
  width: 30%;
  position: relative;
  position: absolute;
  left: 11.5%;
  bottom: -25%;
  cursor: pointer;
}
/* 기본 체크박스 숨기기 */
.hidden-checkbox {
  display: none;
}
/* 커스텀 체크박스 스타일 */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #266262;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

/* 아이디 저장하기 - 텍스트 부분 */
.id-pw-store-txt {
  font-size: var(--font-size-base);
  color: var(--font-color-black);
}

/* 로그인 상단 - 오른쪽 레이아웃 */
.login-top-right {
  position: relative;
  margin-top: 80px;
  flex: 1;
  position: relative;
}
/* 로그인 상단 - 오른쪽 레이아웃 버튼 */
.loginBt,
.find-info {
  position: relative;
  cursor: pointer;
}
.loginBt {
  width: 100%;
  position: relative;
}
.login-right-bt {
  display: block;
  background-color: var(--sub2-color);
  min-width: 162px;
  min-height: 90px;
  width: 38%;
  height: 55%;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 4%;
  font-weight: bold;
  color: var(--font-color-white);
  font-size: var(--font-size-M);
}
.login-right-bt:hover {
  background-color: var(--sub3-color);
  color: var(--font-color-black);
}
/* 로그인 상단 - 오른쪽 레이아웃 텍스트  */
.find-info {
  font-size: 14px;
  font-weight: 0;
  position: absolute;
  left: 3%;
  bottom: -43%;
}
/* 로그인 상단 - 오른쪽 아이디 찾기  */
.find-info span:first-child::after {
  content: " |";
  color: var(--font-color-black);
}

/* 로그인 두번째 상단 */
.sns-join-section {
  justify-content: space-around;
}
/* 로그인 두번째 섹션 오른쪽 이멜가입하기 sns */
.sns-join-section {
  display: flex;
  flex-direction: column;
}
/* 구분선 */
hr {
  width: 100%;
  color: #efefef;
  margin: 10%;
  transform: translateX(-12%);

  /* opacity: .7; */
}
/* sns 활용 로그인 섹션 */
.sns-join-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* sns 활용 박스 왼쪽 */
.sns-join-left {
  width: 35%;
}
/* sns 활용 박스 왼쪽 텍스트 부분 */
.sns-join-left {
  font-size: var(--font-size-base);
  color: var(--font-color-black);
}
.sns-join-left p {
  text-align: center;
  line-height: 32px;
  margin-bottom: 35%;
  color: var(--font-color-black);
  font-size: var(--font-size-M);
}
/* 강조하는 부분 */
.text-st {
  font-weight: bold;
}

/* sns 활용 박스 오른쪽 */
.sns-join-right {
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  margin-top: 2.5%;
}
/* sns 활용 박스 버튼 공통 스타일 시트*/
.sns-bt {
  min-width: 260px;
  width: 80%;
  height: 50%;
  text-align: center;
  font-size: var(--font-size-base);
  font-weight: bold;
  line-height: 50px;
  border-radius: 10px;
}
/* sns 첫번째 버튼 */
.email-login-bt {
  background-color: none;
  border: 1.5px solid #262627;
}
.email-login-bt:hover {
  background-color: var(--sub2-color);
  border: none;
}

/* sns 두번째 버튼 */
.kakao-login-bt {
  background-color: #fae100;
  border: none;
  position: relative;
}
.kakao-login-bt:hover {
  background-color: #efefef;
  border: 1.5px solid #262627;
}
/* sns 두번재 버튼 안 카카오 아이콘 */
.kakao-login-bt span {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 38px;
}
.kakao-login-bt span img {
  width: 100%;
}
/* sns 아이콘 리스트 */
.sns-list {
  display: flex;
  gap: 22px;
}
/* 비회원 회원 가입 */
.unkown-login-section {
  width: 100%;
  height: 150px;
  position: relative;
}

.unkown-bt {
  width: 28%;
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color-white);
  font-weight: bold;
  background-color: var(--bg-color-gray);
  border: none;
  cursor: pointer;
}
.unkown-bt:hover {
  border: 1.5px solid #262627;
}
/* 에러 텍스트 */
.error {
  color: var(--main-color);
  font-size: 14px;
  display: inline-block;
  margin-top: 5%;
  margin-left: 10%;
}
/* 반응형 */
@media screen and (max-width: 1300px) {
  .login-bar h1 {
    font-size: 2.2em;
  }
  .login-top-left {
    margin-left: 4em;
  }
  .login-top-left label {
    font-size: 1em;
  }
  .find-info {
    font-size: 1em;
    margin-left: 4em;
  }
  .login-input-box-right {
    margin-right: 4em;
  }
  .find-info {
    left: -9%;
    bottom: -43%;
    font-size: 0.8em;
  }
  input::placeholder {
    color: transparent;
  }
}
@media screen and (max-width: 1000px) {
  .login-bar h1 {
    font-size: 2.2em;
  }
  .login-top-left {
    margin-left: 4em;
  }
  .login-top-left label {
    font-size: 1em;
  }
  .find-info {
    font-size: 1em;
    margin-left: 4em;
  }
  .login-input-box-right {
    margin-right: 4em;
  }
  .find-info {
    left: -9%;
    bottom: -43%;
    font-size: 0.8em;
  }
  input::placeholder {
    color: transparent;
  }
  .login-right-bt {
    width: 160px;
    height: 90px;
  }
  .sns-join-left p {
    font-size: 1.1em;
  }
  .sns-bt {
    font-size: 1em;
  }
  .kakao-login-bt span {
    display: none;
  }
}
