@charset "utf-8";
/* CSS 영역 분할 연결 */
@import url("a1_header.css");
@import url("b1_visual.css");
@import url("c1_category.css");
@import url("d1_informaiton1.css");
@import url("e1_product1.css");
@import url("f1_informaiton2.css");
@import url("g1_product2.css");
@import url("h1_new.css");
@import url("i1_footer.css");
/* 변수 CSS 연결 */
@import url("variable.css");
/* 반응형 CSS 연결 */
@import url("responsible.css");

/* font 연결 */
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color-black);
}
body {
  font-family: "S-CoreDream-3Light";
  position: relative;
  /* cursor: none !important; */
}
.wrap {
  position: relative;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/* 픽스 바 스타일 시트 */
/* 플로팅 박스 */
.floating {
  display: none;
}
.floating-box {
  width: 80%;
  height: 10%;
  background-color: #d1c9ea;
  display: flex;
  border-radius: 50px;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  /* left: 6.4rem;
    bottom: 1.6rem; */
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 900;
  /* https://getcssscan.com/css-box-shadow-examples 참조 */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* 툴바 고정 중앙 */
}
/* 플로팅 이미지 박스 */
.floatinf-img {
  max-width: 189px;
  width: 15%;
  height: 15%;
  position: relative;
}
/* 플로팅 이미지 */
.floatinf-img img {
  width: 100%;
  display: block;
  transform: translate(5%, -80%);
}
/* 차란 로고 및 아이콘 */
.floating-small-img {
  /* max-width: 180px; */
  width: 17%;
  display: flex;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 18%;
}
.floating-small-img span {
  display: block;

  width: 50%;
  height: 50%;
}
#light-icon {
  max-width: 58px; 
  width: 50%;
  transform: translate(55%, -60%);
}
#ft-logo {
  text-align: center;
  max-width: 105px;
  width: 100%;
  height: 100%;
  transform: translate(2%);
}
/*픽스 바 안 텍스트  */
.floating-txt {
  transform: translateX(10%);
  font-size: 1.3em;
  color: var(--font-color-white);
}
.floating-txt span:nth-child(2) {
  color: #ffff5c;
  font-weight: bold;
}
/* 플로팅 픽스 박스 버튼 */
.floating-btn {
  display: block;
  max-width: 210px;
  width: 210px;
  height: 58px;
  background-color: #ffff5c;
  border-radius: 50px;
  border: none;
  transform: translateX(-10%);
}
.floating-btn a {
  display: block;
  font-size: 1.4em;
  color: #b69fff;
  font-weight: bold;
  text-align: center;
  line-height: 58px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* 플로팅 바 요술봉 아이콘 */

.floating-btn::after {
  display: block;
  content: "";
  position: absolute;
  transform: translate(130%, -17%);
  width: 3rem;
  height: 2.8333333333rem;
  background: url(../images/floating-stick-icon.png) no-repeat 0 0 / 100% auto;
  bottom: 45%;
  left: 52%;
  margin-left: 1rem;
  z-index: 999;
  pointer-events: none;
}

/* 픽스바 반응형 */
@media screen and (max-width: 1680px) {
  .floating-txt {
    font-size: 19px;
    /* transform: translateX(-19%); */
    transform: translateX(19%);
  }
  #ft-logo {
    transform: translate(21%);
  }
  .floating-btn {
    max-width: 210px;
    width: 150px;
    height: 48px;
    background-color: #ffff5c;
    border-radius: 50px;
    border: none;
    transform: translateX(-5%);
    .floating-small-img span {
      display: block;
      width: 40%;
      height: 40%;
    }
  }
}
/* 픽스바 반응형 */

@media screen and (max-width: 1450px) {
  .floatinf-img img {
    transform: translate(2%, -80%);
  }
  .floating-txt {
    font-size: 17px;
    /* transform: translateX(-19%); */
    transform: translateX(25%);
  }
  .floating-box > .floating-txt::after {
    transform: translate(450%, -17%);
  }
}

@media screen and (max-width: 1250px) {
  .floating-small-img {
    /* max-width: 180px; */

    top: 22%;
    left: 16%;
  }
  .floating-txt {
    transform: translateX(14%);
  }
  .floating-txt span:first-child > span {
    display: none;
  }
  .floating-box > .floating-txt::after {
    transform: translate(500%, -20%);
  }
  .floating-btn {
    max-width: 210px;
    width: 150px;
    height: 48px;
    background-color: #ffff5c;
    border-radius: 50px;
    border: none;
    transform: translateX(-5%);
  }
  .floating-btn a {
    font-size: 1.2em;
    line-height: 48px;
  }
  .floating-box > .floating-txt::after {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .floating-txt span:first-child {
    display: none;
  }
  .floating-btn {
    width: 150px;
    height: 40px;
  }
  .floating-btn a {
    line-height: 40px;
  }
  .floating-box > .floating-txt::after {
    transform: translate(400%, -20%);
  }
}
@media screen and (max-width: 800px) {
  .floating-box {
    display: none;
  }

  .floating-txt {
    display: none;
  }
}
/* 마우스 포인터 */
#mouse-pointer {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 15%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  
  z-index: 99999999;
  /* 뒷배경도 클릭 할수 있음 */
  pointer-events: none;
  background: url(../images/floating-stick-icon.png) no-repeat center;
  background-size: contain;
  transition: all 0.3s;
}
#mouse-pointer.hover {
  transform: scale(1.5);
  mix-blend-mode: normal;

}
@media (max-width: 768px) {
  #mouse-pointer {
      display: none !important;
  }
}


/* top 버튼 */
.top-btn-wrap{
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.chat-btn{
  width: 100px;
  animation: updown 1.5s infinite;
}
@keyframes updown{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
.chat-btn:hover .chat-btn-p{
  display: block;
}
.chat-btn-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  position: absolute;
  top: 34px;
  right: 120px;
  width: 120px;
  height: 60px;
  line-height: 16px;
  font-size: 14px;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);;
  background-color: #fff;
  color: #6630E4;
  border-radius: 50%;
}
.chat-btn-p1{
  margin-top: 5px;
}
.chat-btn img{
  width: 100%;
}
.shop-btn{
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  /* background-color: #f03665; */
  background-color: #ff23a2;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
/* .shop-btn img{
  width: 70%;
} */
.top-btn{
  width: 70px;
  height: 70px;
  line-height: 100px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
.top-btn img{
  width: 45%;
}
@media screen and (max-width: 768px) {
 .top-btn-wrap{
  display: none;
 }
}