@charset "utf-8";
@import url("variable.css");
/* font 연결 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color-black);
}
body {
  font-family: "S-CoreDream-3Light";
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* 메인 영역 */
/* 메인 영역 */
/* 프로필 영역 */
.frofile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
padding-top: 100px;
padding-bottom: 40px;
    border-bottom: 1px solid #efefef;

    /* clear: both; */
}

.my-frof{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* 프로필 사진 */
.my-frof .fro-pic{
    width: 100px;
    /* cursor: pointer; */
}
.my-frof .fro-pic img{
    width: 100%;
}
/* 닉네임, 메일주소 */
.my-frof .my-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-frof .my-info p:first-child{
    color: var(--font-color-black);
    font-weight: bold;
    font-size: var(--font-size-M);
}
.my-frof .my-info p:last-child{
    color: var(--font-color-gray);
    opacity: .8;
    font-size: var(--font-size-base);
}
/* 프로필 편집 버튼 */
.edit{
    width: 100px;
    height: 50px;
    
}

.edit button{
    width: 100%;
    height: 100%;
    background-color: var(--font-color-white);
    border: 2px solid rgba(117, 117, 117, .3);
    border-radius: 10px;
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}
/* 아이템 */
.item-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
    /* border-bottom: 1px solid #efefef; */
}
.item-list li{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}
.item-list:nth-child(3) .item-icon{
    display: flex;
    /* gap: 10px; */
    /* padding-top: 20px; */
  
}
.item-list li span{
    width: 100%;
    display: block;
    text-align: center;
    color: #262627;
    /* padding: 30px; */
}
.item-list li:nth-child(3) span{
    /* padding-top: 30px; */
}
.item-icon{
    width: 60px;
    height: 60px;
}
.item-icon img{
    /* line-height: 60px; */
    width: 100%;
    /* padding-top: 30px; */
}
.m{
    width: 100%;
    height: 9px;
}
/* 구매내역 */
.buy-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 40px;
    gap: 30px;
    border-bottom: 1px solid #efefef;
}
.buy-history h2{
    font-size: var(--font-size-L);
    color: var( --main-color);
    margin-left: var(--spacing-4XL);
    font-weight: bold;
}
.buy-history ul{
    display: flex;
    justify-content: space-around;
}
.buy-history ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.buy-history ul li span{
    font-size: var(--font-size-M);
}
.buy-history ul li span:last-child{
    font-weight: bold;
}
/* 옷장정리 신청내역 */
.apply-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 30px;
    border-bottom: 1px solid #efefef;
}
.apply-history h2{
    font-size: var(--font-size-L);
    color: var( --main-color);
    margin-left: var(--spacing-4XL);
    font-weight: bold;
}
.apply-history ul{
    display: flex;
    justify-content: space-around;
}
.apply-history ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.apply-history ul li span{
    font-size: var(--font-size-M);
}
.apply-history ul li span:last-child{
    font-weight: bold;
}
/* 관심상품 리스트 */
.interest{
    /* padding: var(--spacing-4XL) 0; */
    padding-top: var(--spacing-4XL);
    padding-bottom: 100px;
}
.interest_inner h2{
    font-size: var(--font-size-L);
    color: var( --main-color);
    margin-left: var(--spacing-4XL);
    font-weight: bold;
    padding-bottom: var(--spacing-XXL);
}
.itrest-list{
    padding: 0 var(--spacing-XXL);
}
.itrest-list .swiper-slide img{
    cursor: pointer;
}