@charset "utf-8";
@media screen and(max-width:1850px){
    .header-bottom{
        margin-left: 50px;
    }
}
@media screen and (max-width: 1750px){
    .header-bottom{
        margin-left: var(--spacing-L);
    }
}
@media screen and (max-width: 1500px){
    .header-bottom{
        margin-left: var(--spacing-M);
    }
}
@media screen and (max-width: 1200px){
    .header-bottom{
        gap: 40px;
    }
    .menu{
        width: 80%;
    }
    .gnb li{
        width: calc(100% / 6);
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 390px) {
}
