@charset "utf-8";
@media screen and (max-width:1850px) {
  /* header 영역 */
  .header-bottom {
    margin-left: 50px;
    gap: 60px;
  }
}
@media screen and (max-width: 1750px) {
  /* header 영역 */
  .header-bottom {
    /* margin-left: var(--spacing-L); */
    gap: 60px;
  }
}
@media screen and (max-width: 1500px) {
  /* header 영역 */
  .header-bottom {
    /* margin-left: var(--spacing-M); */
    gap: 60px;
  }
}
@media screen and (max-width: 1200px) {
  /* header 영역 */
  .header-bottom {
    gap: 30px;
  }
  .menu {
    width: 85%;
  }
  .gnb {
    margin-left: 0;
  }
  .gnb li {
    width: calc(100% / 6);
  }
  .gnb li a {
    padding: var(--spacing-L) var(--spacing-S);
  }
  /* visual 영역 */
  .banner {
    display: block;
  }
  .banner-left {
    width: 100%;
    padding: 0 var(--spacing-M);
  }
  .banner-right {
    display: none;
    /* gap: 5px; */
  
    
  }
  /* footer 영역 */
  .f-r-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-right: 40px;
    padding-top: 100px;
    /* bottom: 0; */
  }
  .f-r-left{
    gap: 10px;
  }
}
@media screen and (max-width: 1100px) {
  /* header 영역 */
  .depth > li > a {
    font-size: var(--font-size-S);
  }
  /* visual 영역 */
}
@media screen and (max-width: 1000px){
.footer-left{
  width: 100%;
}
  /* .footer-right{
    display: none;
    width: 0%;
  } */

}
@media screen and (max-width: 950px) {
  /* header 영역 */
  .header-bottom {
    gap: 20px;
  }
  .gnb {
    margin-left: 0;
  }
  .gnb li a {
    padding: var(--spacing-L) var(--spacing-S);
  }
  .depth > li > a {
    font-size: var(--font-size-Min);
  }
  /* visual 영역 */
  /* category 영역 */
  .icon-box {
    width: 75%;
    /* information1 영역 */
  }
  /* footer 영역 */
  .footer-menu ul li{
    border: none;
  }
  .footer-menu ul li a{
    padding-right: var(--spacing-M);
  }
  .f-r-wrap{
    flex-direction: column;
    justify-content: unset;
  }
  
}
@media screen and (max-width: 768px) {
  /* header 영역 */
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header-top {
    margin-bottom: var(--spacing-M);
  }
  .h-r-top .search-bar {
    display: none;
  }
  .gnb {
    display: none;
  }
  #util-list li a {
    font-size: var(--font-size-Min);
  }
  .header-bottom {
    margin-bottom: 20px;
    margin-left: 0;
    justify-content: space-between;
  }
  .header-bottom .search-bar {
    display: flex;
    margin-right: var(--spacing-XL);
    /* width: 50%; */
  }
  #search-input{
    padding-left: var(--spacing-M);
  }
  .h-c-text {
    padding-left: var(--spacing-XXXL);
  }

  .menu-snb {
    width: 100%;
    left: 0;
  }
  .snb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1000px;
  }
  .snb > li {
    display: block;
    width: calc(100% / 4);
    height: 40%;
  }
  .snb > li > a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(38, 38, 39, 0.2);
    border-right: none;
    font-size: var(--font-size-S);
  }
  .depth {
    display: block;
    margin-left: 0;
  }
  .depth > li {
    width: 100%;
    text-align: center;
  }
  .depth > li a {
    display: block;
    width: 100%;
  }

  .menu {
    display: none;
  }
  .header-bottom .search-bar {
    width: 45%;
    min-width: 180px;
  }
  /* visual 영역 */
  /* category 영역 */
  .icon-box{
    width: 100%;
}
  .icons{

  }
  .icons li{
    width: 100%;
  }
  .icons li a{
    width: 100%;
  }
  
  .icons li a .c-icon-wrap .c-icon img{
    width: 70%;
    min-width: 50px;
  }
  .icons li a .c-icon-wrap span{
    font-size: var(--font-size-Min);
  }
  /* information1 영역 */
  /* product1 영역 */
  /* information2 영역 */
  /* product2 영역 */
  /* news 영역 */
  /* footer 영역 */
  .footer-menu ul li{
    border-right: 1px solid rgba(38, 38, 39, .2);
  }
  .footer-menu ul li a{
    padding-right: var(--spacing-M);
  }
  .footer-right{
    display: none;
  }
}
@media screen and (max-width: 550px){
  #util-list li a{
    font-size: 11px;
  }
  /* footer 영역 */
  .footer-menu ul{
    gap: 7px;
  }
  .info-text2{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .info-text3{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-menu ul li{
    border: none;
  }
  .footer-menu ul li a{
    display: block;
    padding: 0 5px;
    font-size: 11px;
    
  }
}
@media screen and (max-width: 390px) {
  /* header 영역 */
  .h-r-top{
    margin-left: 30px;
  }
  .h-r-top .header-icon{
    min-width: 140px;
  }
  .h-r-top .header-icon-list{
    /* width: 140px; */
    text-align: center;
    justify-content: none;
    /* gap: 10px; */
  }
  .h-r-top .header-icon-list li:first-child{
    
    width: 23px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /* padding: 5px; */
  }
  .h-r-top .header-icon-list li:nth-child(6){
    width: 20px;
    /* width: 100%; */
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .h-r-top .header-icon-list li:last-child{
    width: 20px;
    /* width: 100%; */
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  
  .h-r-top .header-icon-list li a{
    display: block;
    width: 100%;
    /* height: 100%; */
  }
  .h-r-top .header-icon-list li a img{
    width: 100%;
    /* height: 100%; */
  }
  .h-r-top .header-icon-list li:first-child,
  .h-r-top .header-icon-list li:nth-child(6),
  .h-r-top .header-icon-list li:last-child {
    display: block;
  }
  .h-r-top .header-icon-list li:nth-child(2),
  .h-r-top .header-icon-list li:nth-child(3),
  .h-r-top .header-icon-list li:nth-child(4),
  .h-r-top .header-icon-list li:nth-child(5) {
    display: none;
  }
  .h-r-bottom .util #util-list {
    display: none;
  }
  .header-bottom{
    display: none;
  }
  .header-bottom .search-bar {
    display: none;
  }
  .mb-menu-snb .snb:last-child > li > a {
    width: 100%;
    text-align: center;
    border-bottom: none;
    border-right: none;
    font-size: var(--font-size-S);
  
  }
  /* visual 영역 */
  /* category 영역 */
  /* information1 영역 */
  /* product1 영역 */
  /* information2 영역 */
  /* product2 영역 */
  /* news 영역 */
  /* footer 영역 */
  .footer-menu ul{
    gap: 0px;
  }
  .footer-menu ul li{
    text-align: center;
  }
  .footer-menu ul li a{
    display: block;
    padding: 0 5px;
    
  }
  .footer-info p{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-menu ul li{
    border-right: 1px solid rgba(38, 38, 39, .2);
  }
}
